In [1]:
from typing import Dict, Union, List, TypedDict

In [2]:
Key = Union[str, int, tuple]
Value = Union[str, int, float, list, tuple, set]

In [4]:
data : Dict[Key, Value] = {
    'name': 'Muhammad Ali',
    'fname': 'Faisal Yaseen',
    'education': 'Computer Engineering'
}

In [8]:
print([i for i in dir(data) if '__' not in i])

['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [9]:
data : Dict[Key, Value] = {
    'name': 'Muhammad Ali',
    'fname': 'Faisal Yaseen',
    'education': 'Computer Engineering'
}
print(f'Before\n{data}')
data.clear()
print(f'Before\n{data}')

Before
{'name': 'Muhammad Ali', 'fname': 'Faisal Yaseen', 'education': 'Computer Engineering'}
Before
{}

In [11]:
data : Dict[Key, Value] = {
    'name': 'Muhammad Ali',
    'fname': 'Faisal Yaseen',
    'education': 'Computer Engineering'
}
print(f'Before\n{data}')
del data
# print(f'Before\n{data}') returns error data is not defined

Before
{'name': 'Muhammad Ali', 'fname': 'Faisal Yaseen', 'education': 'Computer Engineering'}

In [16]:
data : Dict[Key, Value] = {
    'name': 'Muhammad Ali',
    'fname': 'Faisal Yaseen',
    'education': 'Computer Engineering'
}
print(f'Before\n{data}')
name:str = data.pop('name')
print(name)
print(f'Before\n{data}')

Before
{'name': 'Muhammad Ali', 'fname': 'Faisal Yaseen', 'education': 'Computer Engineering'}
Muhammad Ali
Before
{'fname': 'Faisal Yaseen', 'education': 'Computer Engineering'}

In [17]:
data : Dict[Key, Value] = {
    'name': 'Muhammad Ali',
    'fname': 'Faisal Yaseen',
    'education': 'Computer Engineering'
}
print(f'Before\n{data}')
name:str = data.popitem()
print(name)
print(f'Before\n{data}')

Before
{'name': 'Muhammad Ali', 'fname': 'Faisal Yaseen', 'education': 'Computer Engineering'}
('education', 'Computer Engineering')
Before
{'name': 'Muhammad Ali', 'fname': 'Faisal Yaseen'}

In [18]:
data : Dict[Key, Value] = {
    'name': 'Muhammad Ali',
    'fname': 'Faisal Yaseen',
    'education': 'Computer Engineering'
}
print(f'Before\n{data}')
name:str = data.get('city', 'NA')
print(name)
print(f'Before\n{data}')

Before
{'name': 'Muhammad Ali', 'fname': 'Faisal Yaseen', 'education': 'Computer Engineering'}
NA
Before
{'name': 'Muhammad Ali', 'fname': 'Faisal Yaseen', 'education': 'Computer Engineering'}

In [19]:
data : Dict[Key, Value] = {
    'name': 'Muhammad Ali',
    'fname': 'Faisal Yaseen',
    'education': 'Computer Engineering'
}
print(f'Before\n{data}')
name:str = data.setdefault('city', 'NA')
print(name)
print(f'Before\n{data}')

Before
{'name': 'Muhammad Ali', 'fname': 'Faisal Yaseen', 'education': 'Computer Engineering'}
NA
Before
{'name': 'Muhammad Ali', 'fname': 'Faisal Yaseen', 'education': 'Computer Engineering', 'city': 'NA'}

In [21]:
data : Dict[Key, Value] = {
    'name': 'Muhammad Ali',
    'fname': 'Faisal Yaseen',
    'education': 'Computer Engineering'
}
data1: Dict[Key, Value] = {
    'education': 'Computer Science',
    'age': 28
}
print(f'Before\n{data}')
name:str = data.update(data1) 
print(name) # returns None
print(f'Before\n{data}')

Before
{'name': 'Muhammad Ali', 'fname': 'Faisal Yaseen', 'education': 'Computer Engineering'}
None
Before
{'name': 'Muhammad Ali', 'fname': 'Faisal Yaseen', 'education': 'Computer Science', 'age': 28}

In [28]:
import pandas as pd
from typing import Any

In [30]:
students_data: Dict[str, list[Any]] = {
    'roll_no': [1, 2, 3],
    'name': ['ali', 'anus', 'majid'],
    'education': ['ai generative', 'metaverse', 'web development']
}

In [31]:
df : pd.DataFrame = pd.DataFrame(students_data)

In [33]:
df

   roll_no   name        education
0        1    ali    ai generative
1        2   anus        metaverse
2        3  majid  web development

In [34]:
data : Dict[Key, Value] = {
    'name': 'Muhammad Ali',
    'fname': 'Faisal Yaseen',
    'education': 'Computer Engineering',
    'education': 'Computer Science'
}
data

{'name': 'Muhammad Ali',
 'fname': 'Faisal Yaseen',
 'education': 'Computer Science'}

In [41]:
student1 : Dict[Key, Value] = {
    'name': 'Muhammad Ali',
    'age': '28',
    'education': 'Computer Engineering'
}
student2 : Dict[Key, Value] = {
    'name': 'Muhammad Anus',
    'age': '31',
    'education': 'Computer Science'
}
student3 : Dict[Key, Value] = {
    'name': 'Yasir Abbas',
    'age': '28',
    'education': 'Software Engineering'
}
students: List[Dict] = [student1, student2, student3]
display(students)

[{'name': 'Muhammad Ali', 'age': '28', 'education': 'Computer Engineering'},
 {'name': 'Muhammad Anus', 'age': '31', 'education': 'Computer Science'},
 {'name': 'Yasir Abbas', 'age': '28', 'education': 'Software Engineering'}]

In [46]:
import json
student1 : Dict[Key, Value] = {
    'name': 'Muhammad Ali',
    'age': '28',
    'education': 'Computer Engineering'
}
data1 = json.dumps(student1)
display(data1)
print(type(data1))

'{"name": "Muhammad Ali", "age": "28", "education": "Computer Engineering"}'

<class 'str'>