In [1]:
from typing import Dict, Union, List, TypedDict
import pprint

In [2]:
my_type = TypedDict('ct', {'a': str, 'b': str})

In [3]:
Key = Union[str, int, tuple, my_type]
# Key = Union[str, int, set]
# Key = Union[str, int, list]
Value = Union[str, int, float, list, tuple, set]

In [5]:
data : Dict[Key, Value] = {
    'name': 'Muhammad Ali',
    'fname': 'Faisal Yaseen',
    'education': 'Computer Engineering', 
    123: 'hello',
    'age': 28,
    (1,2,3): 'hello',
    'ct': {'a': 'a_value', 'b': 'b_value'},
    'float': 1.23,
    'lst': ['macroni', 'cheese'],
    'tuple': (1,2,3),
    'set': {1, 1, 2, 3}
#     {1: 'a', 2: 'b'} : 'nice'
#     {1, 2, 3}: 'set value' unhashable
#     [1, 2]: 'age' 
}

In [7]:
display(data)

{'name': 'Muhammad Ali',
 'fname': 'Faisal Yaseen',
 'education': 'Computer Engineering',
 123: 'hello',
 'age': 28,
 (1, 2, 3): 'hello',
 'ct': {'a': 'a_value', 'b': 'b_value'},
 'float': 1.23,
 'lst': ['macroni', 'cheese'],
 'tuple': (1, 2, 3),
 'set': {1, 2, 3}}

In [9]:
data['ct']['a']

'a_value'

In [10]:
pprint.pprint(data)

{123: 'hello',
 'age': 28,
 'ct': {'a': 'a_value', 'b': 'b_value'},
 'education': 'Computer Engineering',
 'float': 1.23,
 'fname': 'Faisal Yaseen',
 'lst': ['macroni', 'cheese'],
 'name': 'Muhammad Ali',
 'set': {1, 2, 3},
 'tuple': (1, 2, 3),
 (1, 2, 3): 'hello'}

In [11]:
data['name']

'Muhammad Ali'

In [12]:
data[123]

'hello'

In [13]:
data['education']

'Computer Engineering'

In [14]:
# data['key not exist']

In [15]:
data.keys()

dict_keys(['name', 'fname', 'education', 123, 'age', (1, 2, 3), 'ct', 'float', 'lst', 'tuple', 'set'])

In [16]:
data_set : int = {1, 1, 2, 2, 3, 4, 5, 6}
data_set

{1, 2, 3, 4, 5, 6}

In [17]:
print([i for i in dir(set) if '__' not in i]) # __ are all class attributes

['add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [18]:
abc:set = {1, 1, 2, 3, 4, 5}
abc

{1, 2, 3, 4, 5}

In [19]:
abc :List = list(abc)

In [20]:
abc

[1, 2, 3, 4, 5]

In [21]:
data

{'name': 'Muhammad Ali',
 'fname': 'Faisal Yaseen',
 'education': 'Computer Engineering',
 123: 'hello',
 'age': 28,
 (1, 2, 3): 'hello',
 'ct': {'a': 'a_value', 'b': 'b_value'},
 'float': 1.23,
 'lst': ['macroni', 'cheese'],
 'tuple': (1, 2, 3),
 'set': {1, 2, 3}}

In [22]:
data['lst'][1]

'cheese'

In [23]:
data['nested_dict'] = {
    'courses': {
        'name': 'Generative AI',
        'code': '1213-adab'
    }
}

In [24]:
data

{'name': 'Muhammad Ali',
 'fname': 'Faisal Yaseen',
 'education': 'Computer Engineering',
 123: 'hello',
 'age': 28,
 (1, 2, 3): 'hello',
 'ct': {'a': 'a_value', 'b': 'b_value'},
 'float': 1.23,
 'lst': ['macroni', 'cheese'],
 'tuple': (1, 2, 3),
 'set': {1, 2, 3},
 'nested_dict': {'courses': {'name': 'Generative AI', 'code': '1213-adab'}}}

In [25]:
empty_dict : Dict[Key, Value] = {}

In [26]:
empty_dict['name'] = 'Anus'
empty_dict['age'] = 32
empty_dict['company'] = 'Bluetech Consulting'

In [27]:
empty_dict['name'] = 'Muhammad Anus'

In [28]:
empty_dict

{'name': 'Muhammad Anus', 'age': 32, 'company': 'Bluetech Consulting'}

In [29]:
print([i for i in dir(dict) if '__' not in i])

['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [30]:
empty_dict.get('is_married', 'key not exist')

'key not exist'

In [31]:
empty_dict.get('name', 'key not exist')

'Muhammad Anus'

In [32]:
for d in empty_dict:
    print(d)

name
age
company

In [33]:
for k, v in empty_dict.items():
    print(f'Key: {k}, value: {v}')

Key: name, value: Muhammad Anus
Key: age, value: 32
Key: company, value: Bluetech Consulting

In [34]:
print(data.keys())
print()
print(data.values())
print()
print(data.items())

dict_keys(['name', 'fname', 'education', 123, 'age', (1, 2, 3), 'ct', 'float', 'lst', 'tuple', 'set', 'nested_dict'])

dict_values(['Muhammad Ali', 'Faisal Yaseen', 'Computer Engineering', 'hello', 28, 'hello', {'a': 'a_value', 'b': 'b_value'}, 1.23, ['macroni', 'cheese'], (1, 2, 3), {1, 2, 3}, {'courses': {'name': 'Generative AI', 'code': '1213-adab'}}])

dict_items([('name', 'Muhammad Ali'), ('fname', 'Faisal Yaseen'), ('education', 'Computer Engineering'), (123, 'hello'), ('age', 28), ((1, 2, 3), 'hello'), ('ct', {'a': 'a_value', 'b': 'b_value'}), ('float', 1.23), ('lst', ['macroni', 'cheese']), ('tuple', (1, 2, 3)), ('set', {1, 2, 3}), ('nested_dict', {'courses': {'name': 'Generative AI', 'code': '1213-adab'}})])

In [35]:
{'name': i.title() for i in data.values() if 'ali' in str(i).lower()}

{'name': 'Muhammad Ali'}

In [36]:
{k: type(k) for k, v in data.items() if isinstance(k, str)}

{'name': str,
 'fname': str,
 'education': str,
 'age': str,
 'ct': str,
 'float': str,
 'lst': str,
 'tuple': str,
 'set': str,
 'nested_dict': str}

In [37]:
a: int = 5
b: int = 6
print(a, b)
a,b = b,a
print(a, b)

5 6
6 5

In [38]:
keys : List[str] = ['name', 'age', 'education']
empty_dict : Dict[Key, Value] = {}
print(empty_dict)

{}

In [39]:
empty_dict = empty_dict.fromkeys(keys)

In [40]:
empty_dict

{'name': None, 'age': None, 'education': None}