In [1]:
import pandas as pd

In [3]:
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')

In [4]:
# arthimetic operators
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [5]:
a:int = 7
b:int = 2
print(a + b) # 9
print(a - b) # 5
print(a * b) # 14
print(a / b) # 3.5
print(a % b) # 1
print(a ** b) # 49
print(a // b) # 3

9
5
14
3.5
1
49
3

In [6]:
14 / 3

4.666666666666667

In [7]:
14 // 3

4

In [8]:
# assignment operators
table[1]

   Operator        Example        Same As    Try it
0         =          x = 5          x = 5  Try it »
1        +=         x += 3      x = x + 3  Try it »
2        -=         x -= 3      x = x - 3  Try it »
3        *=         x *= 3      x = x * 3  Try it »
4        /=         x /= 3      x = x / 3  Try it »
5        %=         x %= 3      x = x % 3  Try it »
6       //=        x //= 3     x = x // 3  Try it »
7       **=        x **= 3     x = x ** 3  Try it »
8        &=         x &= 3      x = x & 3  Try it »
9        |=         x |= 3      x = x | 3  Try it »
10       ^=         x ^= 3      x = x ^ 3  Try it »
11      >>=        x >>= 3     x = x >> 3  Try it »
12      <<=        x <<= 3     x = x << 3  Try it »
13       :=  print(x := 3)  x = 3print(x)  Try it »

In [9]:
a:int = 5
a += 3 
print(a)

8

In [10]:
a:int = 5
a -= 3 
print(a)

2

In [11]:
a:int = 5
a *= 3 
print(a)

15

In [12]:
a:int = 5
a /= 3 
print(a)

1.6666666666666667

In [13]:
a:int = 5
a %= 3 
print(a)

2

In [14]:
a:int = 5
a //= 3 
print(a)

1

In [15]:
a:int = 5
a **= 3 
print(a)

125

In [16]:
# Comparision Operator
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [17]:
a = 3
b = 4
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

In [18]:
a:str = 'A'
b:str = 'B'
print(a >= b)

False

In [19]:
ord('A')

65

In [20]:
chr(65)

'A'

In [21]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [22]:
a:int = 5
b:int = 10
print(a >= 2 and b <= 11)

True

In [23]:
a:int = 5
b:int = 10
print(a >= 2 or b <= 11)

True

In [24]:
a:int = 5
print(not(a >= 2))

False

In [25]:
print(True and True and True and False)
print(True and True and True and True)
print(False or True or False or False)

False
True
True

In [26]:
print(not(True and True and True and False))
print(not(True and True and True and True))
print(not(False or True or False or False))

True
False
False

In [27]:
name:str = 'ali'
print(not(name == 'ali'))

False

In [28]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [29]:
x:str = 'abc'
y:str = 'xyz'
print(id(x))
print(id(y))
print(x is y)
print(x is not y)

2255540752880
2255899105200
False
True

In [30]:
x:str = 'abc'
y:str = 'abc'
print(id(x))
print(id(y))
print(x is y)
print(x is not y)

2255540752880
2255540752880
True
False

In [31]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [49]:
from typing import List
a:str = 'Z'.upper()
all_chrs: List[str] = [chr(i) for i in range(65, 91)]
print(all_chrs)
print(a in all_chrs)
print(a not in all_chrs)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
True
False

In [52]:
students:List[str] = ['Ali', 'Yasir', 'Raja']
user_input:str = input('Énter to check for registration: ').title()
print(user_input)
print(user_input in students)

Énter to check for registration: ali
Ali
True
True

In [54]:
students:List[str] = ['Ali', 'Yasir', 'Raja']
print(id(students))
print(id('ali'))
'ali' is students

2255913488712
2255899104688

False

In [55]:
a:int = 14_000_000
print(a)

14000000

In [57]:
a, b, c = 2,1,0
print(a, b, c)

2 1 0

In [58]:
a, b, c = (2,1,0)
print(a, b, c)

2 1 0

In [60]:
'ali ' * 2

'ali ali '

In [62]:
['a', 'b'] * 2

['a', 'b', 'a', 'b']

In [63]:
a = [1, 2, 3, 'a']
print(*a)

1 2 3 a

In [71]:
a:int = 5
if a < 10:
    print('if working')
else:
    print('else working')

if working

In [72]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!