In [1]:
students: str = ['ali', 'yasir', 'raja', 'anus']

In [2]:
for student in students:
    print(student)

ali
yasir
raja
anus

In [3]:
i = 0
while i < len(students):
    print(students[i])
    i += 1

ali
yasir
raja
anus

In [6]:
# for student not in students: syntax error
#     print(student)

In [10]:
for student in students:
#     print('Retainership')
    print(f'Welcome {student.title()}')
print('Welcome to Retainership')

Welcome Ali
Welcome Yasir
Welcome Raja
Welcome Anus
Welcome to Retainership

In [11]:
for student in students[:2]:
    print(student)

ali
yasir

In [12]:
for student in students[::-1]:
    print(student)

anus
raja
yasir
ali

In [21]:
from typing import List, Tuple
database : List[Tuple[str, str]] = [('ali', 'ali44'), ('yasir', 'admin123'), ('hamza', 'hamza559')]

In [23]:
for row in database:
    print(row)

('ali', 'ali44')
('yasir', 'admin123')
('hamza', 'hamza559')

In [31]:
username_input = input('Enter your username: ')
password_input = input('Enter your password: ')
for row in database:
    username, password = row
    if username == username_input and password == password_input:
        print(f'Welcome to PIAIC {username}')
        break
else:
    print(f'{username_input} not found')

Enter your username: yasir
Enter your password: adada
yasir not found

In [34]:
a:Tuple[str] = ('ali', 'yasir')

In [37]:
# a[0] = 'haris' tuple is not mutable

In [38]:
students

['ali', 'yasir', 'raja', 'anus']

In [39]:
for s in students:
    print(s)
else:
    print('end of iteration')

ali
yasir
raja
anus
end of iteration

In [40]:
for s in students:
    print(s)
    break
else:
    print('end of iteration')

ali

In [42]:
for s in students:
    print(s)
print(f'last element in students {s}')

ali
yasir
raja
anus
last element in students anus

In [43]:
range(10)

range(0, 10)

In [44]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [48]:
list(range(0, 12, 2))

[0, 2, 4, 6, 8, 10]

In [49]:
for i in list(range(1, 11)):
    print(f'2 X {i} = {2 * i}')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [55]:
print(students)
print(list(enumerate(students)))

['ali', 'yasir', 'raja', 'anus']
[(0, 'ali'), (1, 'yasir'), (2, 'raja'), (3, 'anus')]

In [56]:
for index, name in enumerate(students):
    print(f'{index}: {name}')

0: ali
1: yasir
2: raja
3: anus

In [57]:
squares : List[int] = []
for i in range(1, 11):
    squares.append(i ** 2)

In [58]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [59]:
[i ** 2 for i in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [61]:
sum([i for i in range(1, 11)])

55

In [62]:
max([i for i in range(1, 11)])

10

In [63]:
min([i for i in range(1, 11)])

1

In [64]:
from typing import Tuple, Any
data :Tuple[Any] = (1, [2, 3, 4], True, 'a')

In [65]:
data[0] = 9

TypeError: 'tuple' object does not support item assignment

In [66]:
data[1][0] = 9

In [67]:
data

(1, [9, 3, 4], True, 'a')

In [68]:
data[1].append('7')

In [69]:
data

(1, [9, 3, 4, '7'], True, 'a')

In [70]:
# data[1] = [1, 2, 3]

TypeError: 'tuple' object does not support item assignment