In [1]:
name:str = 'Muhammad Ali'
fname:str = 'Faisal Yaseen'
message:str = 'PIAIC'
print(message)

PIAIC

In [4]:
message_2:str = 'You\'re good at programming' 
print(message_2)

You're good at programming

In [11]:
name:str = 'Muhammad Ali'
age:int = 28
education:str = 'Bachelor\'s in Computer Engineering'
message:str = f"PIAIC Student Card\nName: {name}\nAge: {age}\nEducation: {education}"
print(message)

PIAIC Student Card
Name: Muhammad Ali
Age: 28
Education: Bachelor's in Computer Engineering

In [12]:
name:str = 'Muhammad Ali'
age:int = 28
education:str = 'Bachelor\'s in Computer Engineering'
# Convert your integer datatype into string
message:str = "PIAIC Student Card\nName: " + name + "\nAge: " + str(age) + "\nEducation:" + education
print(message)

PIAIC Student Card
Name: Muhammad Ali
Age: 28
Education:Bachelor's in Computer Engineering

In [10]:
int("65") + 7

72

In [13]:
print(5 + \
    6 + 3)

14

In [15]:
print((
    3 * 2 + 3
    + 2 + 3
    + 1 + 2
))

17

In [18]:
name:str = 'Muhammad Ali'
age:int = 28
education:str = 'Bachelor\'s in Computer Engineering'
course:str = 'Certified AI Generative'
card:str = f"""
PIAIC Student Card
Registration No: {22 + 6 + 1312313}
Name: {name}
Age: {age}
Education: {education}
Course: {course}
"""
print(card)

PIAIC Student Card
Registration No: 1312341
Name: Muhammad Ali
Age: 28
Education: Bachelor's in Computer Engineering
Course: Certified AI Generative

In [22]:
name:str = 'Muhammad Ali'
age:int = 28
education:str = 'Bachelor\'s in Computer Engineering'
course:str = 'Certified AI Generative'
reg_no = 123154324
card:str = f"""
PIAIC Student Card
Registration No: %d
Name: %s
Age: %d
Education: %s
Course: %s
""" % (reg_no, name, age, education, course)
print(card)

PIAIC Student Card
Registration No: 123154324
Name: Muhammad Ali
Age: 28
Education: Bachelor's in Computer Engineering
Course: Certified AI Generative

In [25]:
[i for i in dir(str) if '__' not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [26]:
name:str = 'ali'
name.upper()

'ALI'

In [27]:
name:str = 'ali'
name.title()

'Ali'

In [28]:
name:str = 'ali'
name.capitalize()

'Ali'

In [29]:
"My name is {}".format("Muhammad Ali")

'My name is Muhammad Ali'

In [30]:
"My name is {}. My age is {}".format(28, "Muhammad Ali")

'My name is 28. My age is Muhammad Ali'

In [31]:
"My name is {1}. My age is {0}".format(28, "Muhammad Ali")

'My name is Muhammad Ali. My age is 28'

In [34]:
"My name is {a}. My age is {b}".format(**{"b": 28, "a": "Muhammad Ali"})

'My name is Muhammad Ali. My age is 28'

In [37]:
"My name is {a}. My age is {b}".format(b= 28, a= "Muhammad Ali")

'My name is Muhammad Ali. My age is 28'

In [38]:
code:str = """
print('Muhamamd Ali')
a:int = 2
b:int = 5
print(a + b)
"""
exec(code)

Muhamamd Ali
7

In [42]:
name: str = "   Muhammad Ali  "
name.lstrip()

'Muhammad Ali  '

In [43]:
name: str = "   Muhammad Ali  "
name.rstrip()

'   Muhammad Ali'

In [44]:
name: str = "   Muhammad Ali  "
name.strip()

'Muhammad Ali'

In [45]:
import re

In [48]:
print(name)
name1:str = re.sub(" {2,100}", "", name) # remove spaces if it spaces are more than 2 and less than 100
display(name1)

   Muhammad Ali

'Muhammad Ali'

In [49]:
print(name)
name1:str = re.sub(" {2,100}", "", name).strip()
display(name1)

   Muhammad Ali

'Muhammad Ali'

In [51]:
name:str = "muhammad ali"
f"{name.title()}"

'Muhammad Ali'

In [53]:
name:str = "muhammad ali\nage:28\t\teducation:Computer Engineering"
print(f"{name.title()}")

Muhammad Ali
Age:28		Education:Computer Engineering

In [54]:
name:str = "muhammad ali\nage:28\t\teducation:Computer Engineering\b" # removes g
print(f"{name.title()}")

Muhammad Ali
Age:28		Education:Computer Engineerin

In [57]:
url:str = "https://www.czone.pk"
url.removeprefix("https://")

'www.czone.pk'